.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top:55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;

}
/* z-index makes the element to appear on top of the other i.e sidebar on to of header
becoze its 200 more than the z-index of header wic is 100 */

.sidebar-link{
   
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

  
}
/* flex-direction:column makes the data in appear vertical in the box wic is Good for sidebars
 while flex-direction:row  makes that appear horzotial in the box wic is good for headers and hozital data */


.sidebar-link:hover{
    background-color: rgb(238, 235, 235);

}

.sidebar-link img{
    height: 24px;
    margin-bottom:24px ;
    
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;


}